.hidden{
    display: none;
}

.dark{
    background-color: black;
    color: wheat;
}

header{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid palegreen;
}
#setup-game{
    display: flex;
    justify-content: center;
}

#setup-game >*{
    padding-left: 50px;
    padding-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
button{
    justify-self: center;
}

p#timer, p#moves{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#game{
    display: flex;
    justify-content: center;
}

#number-container >*{
    border: solid 1px palegreen;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 45px;
    margin: 5px 0px 5px 50px;
    text-align: center;
}
#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}
#lives{
    text-align:center;
}
.tile{
    margin:0px;
    border: palegreen solid 1px;
    width:60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
}

p.selected{
    background-color: lightskyblue;
}

p.incorrect{
    color: red;
}

.rightBorder{
    border-right: 4px solid palegreen;
}

.bottomBorder{
    border-bottom: 4px solid palegreen;
}

footer{
    background-color:cadetblue;
    text-align: center;
}